:root {
  --primary: #7700f0;
  --beige: #b1a8b9;
  --brown: #392a46;
  --blue: #3e89ac;
  --gray: #b4cad7;

  /* fondos */
  --bg-base: rgba(244, 242, 246, 0.383);
  --bg-primary: #f2f1f4;
  --bg-secondary: rgba(188, 199, 199, 0.383);
  --bg-dark-section: #430680;
}
.container {
  max-width: 1440px;
  margin: auto;
}
* {
  box-sizing: border-box;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Roboto", sans-serif;

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: none;
  background-color: var(--bg-base);
  margin: 0;
}





/* .nav__options {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 70px;
  left: 0;
  width: 80%;
  background-color: var(--bg-primary);
  z-index: 999;
  padding: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
} */






/* Hero */
#hero {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
   /* option #1 */
   background-image: url('img/hero-lg.jpg');
   /* option #2 */
   background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("img/hero-lg.jpg");
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
    /* TODO:  trabajando en el responsivo */
    /* display: none; */
}
/* #hero::after {
      content: "";
    position: absolute;
    inset: 0;
  background-color: rgba(172, 107, 207, 0.383);
    z-index: 1;
} */
.hero__img {
  position: relative;
  /* background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/hero-lg.jpg"); */


}












/* TODO:  TRABAJANDO AQUI */
.menuToggle {
  padding: 0.2rem;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("icons/icons8-menu-50.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: invert(60%); */
  /* background: #7800f0; */
  padding: 0.5rem;
  margin-right: 20px;
    transition: background-color 0.3s ease;
}
.menuToggle.active {
  padding: 0.2rem;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("icons/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: invert(60%); */
  /* background: #7800f0; */
  padding: 0.5rem;
  margin-right: 20px;
}



.menuToggle.active:hover {
  border-radius: 5px;
}

.nav__options.active {
  display: flex;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* REMOVE */
/* .nav__options.active {
  position: absolute;
  padding-top: 2rem;
  opacity: 1;
  visibility: visible;
  left: 0;
  width: 80%;
  top:70px;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 15rem;
  margin-top: 10px;
  background-color: rgb(203, 203, 122);
  box-shadow: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
} */
/* REMOVE */

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
}


/* Breakpoints  */

@media (min-width: 720px) {
  .header__container {
    position: fixed;
    width: 100%;
  }
  .header__container {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav__options, .header__login {
    flex-direction: row;
    display: flex;
  }


  .footer__container {
    flex-direction: row;
  }
  .about-us__container {
    flex-direction: row;
    /* background-color: green; */
  }

  .products__container {
    flex-direction: row;
  }
  .products__container p {
    display: flex;
    text-align: center;
  }
  /* .menuToggle {
    display: none;
  } */
  .header__login button {
    display: flex;
  }
  #hero {
    display: flex;
  }
}

/* @media (min-width: 521px) and (max-width: 768px) {
  .container {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    background-color: orange;
  }
  .header__login {
    font-size: 1rem;
    padding: 5px 5px;
  }
} */
