.products__container .card {
  max-width: 320px;
  padding-bottom: 20px;
  border: 1px solid rgba(188, 199, 199, 0.383);
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  margin: 2rem 2rem;
  box-shadow: 6px 8px 16px rgba(60, 60, 60, 0.25);
}
.products__container .card__badge {
  right: 5;
  background: rgb(28, 227, 121);
  color: black;
  padding: 0.25rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 2px 1px 0px;
  text-transform: uppercase;
}
.products__container .card picture img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: lightcoral;
}
.products__container {
  /* // END card */
}

/* products__container */
picture img {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  margin: 1rem 0 0.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.card__description {
