// .
// .  Ajuste a criterio personalizado
// .
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  margin: 0 auto;
}

// END-block