@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

$primary-font: "Montserrat", sans-serif;
$montserrat: "Montserrat", sans-serif;
$secondary-font: "Inter", sans-serif;
$inter: "Inter", sans-serif;
$alt-font: "Roboto Flex", sans-serif;
$roboto-flex: "Roboto Flex", sans-serif;
$alternate-font: "Roboto Flex", sans-serif;
$prata: "Prata", serif;