// Paleta de colores

$primary: #7700f0;
$beige: #b1a8b9;
$brown: #392a46;
$blue: #3e89ac;
$gray: #b4cad7;

// /* fondos */
$bg-alt-pri: rgba(243, 237, 237, 0.7);
$bg-alt-sec: rgba(244, 242, 246, 0.383);
$bg-primary: #f2f1f4;
$bg-secondary: rgba(188, 199, 199, 0.383);
$bg-dark-section: #430680;
$bg-card: rgba(223, 209, 225, 0.511);

$radius-card: 12px;
$radius-badge: 6px;
$color-badge-bg: #ffcc00;
$color-badge-text: #000;
$color-button-bg: #333;
$color-button-text: #fff;