@use "../../core/" as core;
@use "../../config" as *;

.header {

    position: fixed;
    top: 0;
    width: 100%;
    min-height: 7rem;
    // left: 0;
    z-index: 1000;
    // transparente para que se vea la imagen detrás
    background-color: transparent;
    color: #fff; // texto en blanco para contraste
    transition: background-color 0.3s ease;

    // opcional: al hacer scroll, darle fondo sólido
    &.scrolled {
        // Fondo sólido o semitransparente al hacer scroll
        background-color: rgba(255, 255, 255, 0.9); // casi sólido, ajusta opacidad
        background-color: core.$bg-primary;
        color: core.$primary;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    }

    // .header.scrolled .nav__options li a {
    //     color: core.$brown; // estado al hacer scroll: color base
    // }
}

// BEGIN header container
.header__container {

    // background: core.$bg-primary;
    // Setup container y se adapta segun una lista de breakpoints
    @include container($container-widths);

    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    // ❌ elimina fondo sólido
    background: none;
    background-color: transparent;
    box-shadow: none;

}

/* Here, everything for Ipad, Tablet and Desktop */
@include respond(tablet) {
    .header__container {
        position: sticky;
        gap: 0.5rem;

    }

    .nav__options {
        justify-content: flex-end; // empuja los enlaces a la derecha

        li {
            padding: 0 10px; // menos padding en tablet
        }
    }
}


// TODO:  Remover al solucionar el boton de 'Mi cuenta'
// .header__login {
//     font-weight: 500;
//     font-size: 1.3rem;
//     // LEARN - por defecto Mobile First. No se muestra
//     display: none;
//     // evita que el texto se parta en varias líneas */
//     white-space: nowrap;

//     button {
//         background: core.$primary;
//         color: #fff;
//         border: none;
//         padding: 0.8rem 1.2rem;
//         border-radius: 0.5rem;
//         cursor: pointer;

//         &:hover {
//             background-color: rgba(179, 51, 234, 0.729);
//             color: core.$brown;
//         }
//     }
// }