@use "../../core/" as core;
@use "../../config" as *;

.header {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    // background-color: core.$bg-primary;
    min-height: 7rem;

    &__container {
        // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        @include container($container-widths);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        background-color: lightgreen;

        // end-block .container
    }
}

// start-block Mobiles first
.header__login {
    font-weight: 500;
    font-size: 1.3rem;
    // LEARN - por defecto Mobile First. No se muestra
    display: none;
    /* evita que el texto se parta en varias líneas */
    white-space: nowrap;

    @include respond(tablet) {
        display: flex;
    }

    button {
        background: core.$primary;
        color: #fff;
        border: none;
        padding: 0.8rem 1.2rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: rgba(179, 51, 234, 0.729);
            color: core.$brown;
        }
    }

}

// .header__login:hover {
//     background-color: rgba(179, 51, 234, 0.729);
//     color: white;
// }