@use "../../core/" as core;

.hero {

  &__container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;



  }

  &__img {
    background-image: url('../../../../assets/img/hero-lg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  &__invitation h1 {
    // padding-top: 100px;
    /* color: white; */
    // font-size: 2.8rem;
    color: core.$brown;
    font-family: core.$primary-font;
    text-align: left;
  }

  &__invitation button {
    /* width: 250px; */
    font-size: 1.2rem;
    background-color: core.$blue;
    font-weight: 400;
  }

  &__invitation button:hover {
    background: core.$bg-dark-section;
  }
}