@use '../../core/' as core;
@use '../../config/mixins' as mix;


.logo__container {
    margin: 2px 10px;

    .branding {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;

        img {
            display: block;
            width: 60px;
            height: auto;
            color: core.$primary;
        }

        .site-name {
            font-size: 1.2rem;
            font-weight: 600;
            color: #333;
            // font-family: 'Violet Pulse Gothic', sans-serif;
            margin: 3px;
        }

        &:hover .site-name {
            color: #6a0dad; // tono violeta branding
            color: core.$primary;
        }

        @include mix.respond(tablet) {
            .site-name {
                font-size: 1.5rem;
                // font-family: 'Violet Pulse Gothic', sans-serif;
            }

            img {
                width: 70px;
            }
        }
    }

}