@use "../../core/" as core;
@use '../../config/mixins' as *;

nav {
  flex: 1; // nav ocupa el resto del ancho
}

.header.scrolled .nav__options li a {
  color: black; // estado al hacer scroll: color base
}

.header.scrolled .nav__login .btn-account {
  color: #fff;
}

.nav__options {
  // BEGIN - por defecto Mobile First. 
  display: none;
  opacity: 0;
  // transform: translateY(-10px);
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;




  // Responsivo
  @include respond(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    transform: none;

  }

  // /* From here, Mobile size */
  &.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -1rem;
    left: 0;
    width: 70%;
    height: 56vh;
    overflow: hidden;
    background: white;
    padding: 2rem 1rem;
    gap: 1.5rem;
    z-index: 999;
    transition: max-height 0.3s ease;
    transition: all 0.3s ease;
    transform: translateX(0);

    // Animación suave
    opacity: 1;
    transform: translateY(0);

    // Esquinas redondeadas inferiores
    // border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    // Sombra suave con tu color primario
    box-shadow: 0 6px 12px rgba(119, 0, 240, 0.25);

    transition: all 0.3s ease;

    .nav__branding {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      align-items: center;
      gap: 0.5rem;
      // espacio para que la línea respire
      padding-bottom: 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); // línea muy delgada y suave
    }

    // espacio entre ellos para despegar del extremo derecho
    li a {
      @include responsive-font($list-sizes);
      padding: 0 20px;
      color: core.$brown; // estado inicial: blanco sobre hero
      transition: color 0.3s ease;
      font-weight: 500;
      padding: 10px 15px;
    }

    li a:hover {
      background-color: core.$blue;
      color: #fff;
    }


    .nav__login {
      border-top: 1px solid rgba(0, 0, 0, 0.1); // línea muy delgada y suave
      text-align: center;
      margin: 0 auto;
    }

    // END - Everything when mobile responsive is active
  }


  // /* From here: Regular size Tablet to desktops */
  .nav__branding {
    display: none;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 100px;
      height: auto;
      color: #fff;
    }

    .site-name {
      font-size: 1.7rem;
      font-weight: 800;
      color: core.$primary;
    }
  }

  // TODO: Revisar si acaso es necesario
  // .nav__options li:last-child {
  //   margin-top: 12px;
  //   padding-left: 15px;
  // }


  // /* Default font menu */
  li a {
    color: #fff;
    @include responsive-font($list-sizes);
    font-weight: 500;
    font-size: core.$alt-font;
    border-radius: 5px;
    padding: 0.5em 0.7rem;

  }

  li a:hover {
    // /* Hover menu/nav - Elija cualquiera: subrayado o fondo  */
    text-decoration: underline;
    /* Aquí defines el grosor */
    text-decoration-thickness: 2px;
    text-underline-offset: 5px
  }

  .nav__login {
    // /* evita que el contenido del boton se parta en varias líneas */

    white-space: nowrap;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 200;
    font-family: core.$secondary-font;



    .btn-account {
      // @include responsive-font($list-sizes);
      margin-top: 7px;
      display: inline-block;
      background-color: #7700F0; // tu color de branding
      color: #fff;
      padding: 8px 16px;
      border-radius: 5px;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: core.$blue;
      }
    }
  }

  // /* Impide que se desborde el enlace/boton de login en el nav */
  @include respond(tablet) {
    .nav__login .btn-account {

      padding: 10px 10px; // más compacto
      // font-size: 1.2rem;
      @include responsive-font($list-sizes);
      margin-right: 2rem;
      color: #fff;
    }
  }


  // Mobile menu
  // & li a {
  //   color: white;
  //   margin: 0;

  //   &:hover {
  //     color: core.$primary;
  //   }
  // }

  // /* END .nav__options */
}



// TODO: Revisar porque se duplica esta parte
// .nav__options li a {
//   // aquí aplicamos la tipografía responsiva
//   // @include responsive-font($nav-font-sizes);

//   border-radius: 5px;
//   padding: 0.5em 0.7rem;
// }


// .nav__options li a:hover {
//   background-color: #a08fb0;
//   color: whitesmoke;
//   background-color: rgba(172, 107, 207, 0.383);
//   color: black;
// }

// Sobrescribir en pantallas grandes
@include respond(tablet) {
  .nav__options.active {
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    gap: 1rem;
  }

}

// Overlay con fade
.overlay {
  position: fixed;
  top: 0;
  left: 3rem;
  // right: 5rem;
  bottom: 0;
  // inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}