@use '../../config/' as mix;
@use '../../core/' as core;

.menuToggle {
  right: 20px;
  padding: 0.2rem;
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url("./../../../../assets/icons/icons8-menu-50.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: invert(60%); */
  /* background: #7800f0; */
  padding: 0.5rem;
  // margin-right: 20px;
  transition: background-color 0.3s ease;

  @include mix.respond(tablet) {
    display: none;
  }

  // @include mix.respond(phone) {
  //   background-color: lightgreen;
  // }


}


.menuToggle.active {
  padding: 0.2rem;
  position: relative;
  width: 25px;
  height: 25px;
  // background-image: url("icons/close.svg");
  background-image: url("./../../../../assets/icons/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: invert(60%); */
  /* background: #7800f0; */
  padding: 0.5rem;
  // margin-right: 20px;
}


.menuToggle.active:hover {
  border-radius: 5px;
}