@use "../core/variables" as core;
@use "../config/" as *;

.about-us {
  width: 100%;
  // background-color: core.$primary;


  &__container {
    @include container($container-widths);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;

    // remove
    background-color: lightseagreen;

    .about-us__img {
      background-image: url("../../../assets/img/helena-lopes-2MBtXGq4Pfs-unsplash.jpg");
      // background-image: linear-gradient(0deg,
      // rgba(0, 0, 0, 0.5),
      // rgba(0, 0, 0, 0.5)),
      // url("../../../assets/img/helena-lopes-2MBtXGq4Pfs-unsplash.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

  }

  .about-us__description {
    color: white;

  }


  p {
    text-align: justify;
    padding: 1rem 3rem;
    color: white;
  }


}