@use '../core/' as core;
@use "../config/" as *;

.ads {
  width: 100%;
  // background-color: core.$primary;

  .ads__container {
    @include container($container-widths);

    margin-top: 50px;
    background-color: core.$blue;
    color: white;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 30px;
    padding: 1rem 2rem;
  }

  .ads__container h2 {
    text-align: center;
  }
}