@use "../core/" as core;
@use "../config/" as *;


.footer {
  width: 100%;
  background-color: core.$primary;

  &__container {
    @include container($container-widths);

    background-color: black;
    color: white;

    // Put column as grid
    @include grid-fluid(250px, 1.7rem);
    padding: 5rem 2rem;
    text-align: start;

    // end-block .container 
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("../../../assets/img/Copilot_20251106_193652.png");
    background-size: cover;
    background-repeat: no-repeat;
  }



  // &__logo img {
  //   width: 90px;
  //   color: white;
  //   background-color: magenta;
  //   border: 2px solid magenta;
  // }

  // End-block .footer
}



// &__container p {
//   text-align: center;
//   color: whitesmoke;
// }

// &__container h4 {
//   text-align: start;
// }

// &__container ul li {
//   text-align: left;
//   text-align: start;
// }


// }