@use "../core/" as core;
@use "../config/" as *;


.footer {
    width: 100%;
    color: #eee;
    margin-top: 2rem;
    // background-color: core.$primary;
    
    
    &-container {
        
         @include container($container-widths);
         padding-bottom: 5rem;
        background-color: core.$brown;
        @include grid-fluid(250px, 1.8rem);
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;

        // @media (max-width: 1024px) {
        //     grid-template-columns: repeat(2, 1fr);
        // }

        // @media (max-width: 600px) {
        //     grid-template-columns: 1fr;
        // }
    }
    &-menu, 
    &-links,
    &-contact {
        margin-bottom: 0;
        padding-left: 1rem;
    } 

    &-column {

        h3
         {
            // margin-bottom: 1rem;
            font-size: 1.8rem;
            text-align: left;
            font-weight: 700;
            line-height: 1;
        }


        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 0.15rem;
            }

            a {
                color: #eee;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    img {
        width: 100px; // ajusta según tu diseño
        height: auto;
        filter: invert(80%);
        margin-left: 0;
        margin-right: 1rem; // si lo quieres alineado horizontalmente con el texto
    }
    h2 {
        font-size: 1.7rem;
        color: core.$beige;
        font-weight: 700;
        padding: 0.25rem 0.20rem;
    }
    
.footer-contact {
.contact-item {
    line-height: 10px;
    margin-bottom: 0; // reduce espacio entre email y teléfono
  }

  .social-icons {
    display: flex;
    padding-left: 15px;
    // align-items: center;
    gap: 1.7rem; // espacio entre íconos
    margin-top: 1rem;

    a {
      font-size: 2.8rem; // tamaño visible de los íconos
      color: #eee;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: #7700F0; // tu color de branding
        transform: scale(1.2); // efecto de zoom al pasar
      }
    }
  }
}

}