@use "../core/" as core;
@use "../config/" as *;


.footer {
    // width: 100%;
    color: #eee;
    margin-top: 2rem;
    // background-color: core.$primary;


    &-container {
        padding: 3rem;

        @include container($container-widths);
        padding-bottom: 5rem;
        // TODO:  Temporalmente otro color mientras se mejora
        background-color: core.$brown;
        @include grid-fluid(250px, 1.8rem);
        //  Se ha comprobado diversos modos de desplegar el footer
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 2rem;

        // @media (max-width: 1024px) {
        //     grid-template-columns: repeat(2, 1fr);
        // }

        // @media (max-width: 600px) {
        //     grid-template-columns: 1fr;
        // }
    }

    &-menu,
    &-links,
    &-contact {
        margin-bottom: 0;
        padding-left: 1rem;
    }

    &-column {

        h3 {
            // margin-bottom: 1rem;
            font-size: 1.8rem;
            text-align: left;
            font-weight: 700;
            line-height: 1;
        }


        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 0.15rem;
            }

            a {
                color: #eee;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    img {
        width: 70px; // ajusta según tu diseño
        height: auto;
        // filter: invert(80%);
        margin-left: 0;
        margin-right: .5rem; // si lo quieres alineado horizontalmente con el texto
    }

    span {
        /* evita que el texto se parta en varias líneas */
        white-space: nowrap;
        // font-size: 1.7rem;
        color: white;
        font-weight: 700;
        // padding: 0.25rem 0.20rem;
        // @include responsive-span-brand;
        @include responsive-font($span-sizes);
        transition: color 0.3s ease, transform 0.3s ease;
    }

    span:hover {
        color: #a62dfd; // tono violeta branding
        color: core.$primary;
        transform: scale(1.2); // efecto de zoom al pasar
    }

    .footer-contact {
        .contact-item {
            line-height: 1.5rem;
            margin-bottom: 0; // reduce espacio entre email y teléfono
            font-size: 1.3rem;
        }

        .social-icons {
            display: flex;
            padding-left: 15px;
            // align-items: center;
            gap: 1.7rem; // espacio entre íconos
            margin-top: 1.2rem;

            a {
                font-size: 2.8rem; // tamaño visible de los íconos
                color: #eee;
                transition: color 0.3s ease, transform 0.3s ease;

                &:hover {
                    color: #7700F0; // tu color de branding
                    transform: scale(1.2); // efecto de zoom al pasar
                }
            }
        }
    }


    @include respond(tablet) {

        &-branding {
            flex-direction: column;
            align-items: left;

        }


        img {
            width: 100px;
        }
    }

}