@use '../core/' as core;


button {
  all: unset;
}
button {
  padding: 10px 20px;
  font-weight: bold;
  // background-color: core.$
  background: core.$primary;
  border-radius: 5px;
  color: white;
  font-size: .90em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

}

button:hover {
  background-color: #5303a2;
}

.btn {
  background: oklch(50.015% 0.29417 284.081);
  border-radius: 8px;
  color: #fff;
  padding: 1rem;
}

@layer base {
  .btn {
    display: inline-block;
  }
}